In [3]:
import pandas as pd

df=pd.read_csv('data/HugoSymbol.csv', sep=',',header=None)

print(df.values.size)

40860
<pandas.core.strings.StringMethods object at 0x10d8d1c10>

In [4]:
#get first column
values_from_first_column = df[0].tolist()
print(values_from_first_column[0])

values_from_first_column[0:10]

name:C1orf147

['name:C1orf147',
 'name:KLF12',
 'name:AI732638',
 'name:MKKS',
 'name:ATRX',
 'name:CCDC130',
 'name:EMP2',
 'name:BX099811',
 'name:AK057408',
 'name:ZC3H13']

In [14]:
#add new column
df['Name'] = df[0].str.split(":").str[-1]
df

,0,1,2,Name,Name_test
0,name:C1orf147,pagerank:0.15000000000000002,EntrezGeneId:574431,C1orf147,
1,name:KLF12,pagerank:0.15000000000000002,EntrezGeneId:11278,KLF12,test
2,name:AI732638,pagerank:0.15000000000000002,EntrezGeneId:NA,AI732638,
3,name:MKKS,EntrezGeneId:8195,pagerank:0.15000000000000002,MKKS,
4,name:ATRX,EntrezGeneId:546,pagerank:0.15000000000000002,ATRX,
...,...,...,...,...,...
13615,name:HERC2,pagerank:0.15000000000000002,NaN,HERC2,
13616,name:CACNA2D3,pagerank:0.15000000000000002,NaN,CACNA2D3,
13617,name:ARID1A,pagerank:0.15000000000000002,NaN,ARID1A,
13618,name:MAP3K1,pagerank:0.15000000000000002,NaN,MAP3K1,
13619,name:TG,pagerank:0.15000000000000002,NaN,TG,

In [17]:
#swap columns
df[[0,"Name"]] = df[["Name", 0]].where(df[0].str.contains('name'), df[[0, "Names"]].values)
df[[1,2]] = df[[2,1]].where(df[2].astype(str).str.startswith('pagerank'), df[[1,2]].values)

df

ValueError: other must be the same shape as self when an ndarray

In [ ]:
#remove null values
df = df[df[2].notna()]
df

In [ ]:
df['EntrezGeneId'] = df[2].str.split(":").str[-1]
df = df[df['EntrezGeneId']!="NA"]
df

In [ ]:
df['pagerank'] = df[1].str.split(":").str[-1]
df

In [ ]:
df = df.drop([0, 1, 2], axis=1)
df